body {
    background-color: rgba(207, 221, 207, 0.82); 
}

#foot {
    padding-top: 32px;
    padding-left: 50px;
}

#container {
    padding: 25px;
}

#controll {
    margin-left: 25px;
}

#hiba {
    width: 200px;
}

.label {
    margin-bottom: 8px;
}
